In [22]:
import pandas as pd
import numpy as np
import glob
import re

sheets = []

for filename in glob.glob("./data/world_data/wd_*.csv"):
    pat= r'(\d{4})'
    ls = re.split(pat,filename)
    year = int(ls[1])
    if year > 2019:
        temp = pd.read_csv(filename,delimiter=',',skiprows=5, index_col=None,header=None)
        sheets.append(temp)
    elif year < 2019 and year > 2008:
        temp = pd.read_csv(filename,delimiter=',',skiprows=2, index_col=None,header=None)
        sheets.append(dataframe)
    else:
        temp = pd.read_csv(filename,delimiter=',',skiprows=1, index_col=None,header=None)
        dataframe = pd.DataFrame(temp)
        sheets.append(dataframe)

df = pd.concat(sheets,axis=0,ignore_index=True)
df = df.drop(columns=[10])
df.columns = ['Rank','Country','Lower or single House Elections','Lower or single House Seats','Lower or single House Women','Lower or single House %W','Upper House or Senate Elections', 'Upper House or Senate Seats','Upper House or Senate Women','Upper House or Senate %W']
df.head(15)

,Rank,Country,Lower or single House Elections,Lower or single House Seats,Lower or single House Women,Lower or single House %W,Upper House or Senate Elections,Upper House or Senate Seats,Upper House or Senate Women,Upper House or Senate %W
0,1,Sweden,09 1998,349,149,42.7,---,---,---,---
1,2,Denmark,03 1998,179,67,37.4,---,---,---,---
2,3,Finland,03 1999,200,73,36.5,---,---,---,---
3,4,Netherlands,05 1998,150,54,36.0,05 1999,75,20,26.7
4,5,Norway,09 2001,165,59,35.8,---,---,---,---
5,6,Iceland,05 1999,63,22,34.9,---,---,---,---
6,7,Germany,09 1998,669,207,30.9,N.A.,69,17,24.6
7,8,New Zealand,11 1999,120,37,30.8,---,---,---,---
8,9,Mozambique,12 1999,250,75,30.0,---,---,---,---
9,10,South Africa,06 1999,399,119,29.8,06 1999,89,17,31.5*
10,11,Spain,03 2000,350,99,28.3,03 2000,259,63,24.3
11,12,Cuba,01 1998,601,166,27.6,---,---,---,---
12,13,Austria,10 1999,183,49,26.8,N.A.,64,13,20.3
13,14,Grenada,01 1999,15,4,26.7,01 1999,13,1,7.7
14,15,Argentina,10 1999,257,68,26.5,12 1998,72,2,2.8

## Columns Rename

In [23]:
def column_rename(col_name):
    t = col_name.strip()
    t = re.sub('%', 'percent ', t)
    t = re.sub(' ', '_', t)
    t = str.upper(t)
    return t

In [24]:
transform_df = df.fillna(0)
transform_df = transform_df.replace(regex=r'---|\?',value=0)
transform_df = transform_df.replace('N.A.',0)
transform_df = transform_df.drop(columns=['Rank'])
transform_df = transform_df.rename(columns=lambda x: column_rename(x))
transform_df = transform_df.rename(str.upper, axis='columns')

transform_df.columns

Index(['COUNTRY', 'LOWER_OR_SINGLE_HOUSE_ELECTIONS',
       'LOWER_OR_SINGLE_HOUSE_SEATS', 'LOWER_OR_SINGLE_HOUSE_WOMEN',
       'LOWER_OR_SINGLE_HOUSE_PERCENT_W', 'UPPER_HOUSE_OR_SENATE_ELECTIONS',
       'UPPER_HOUSE_OR_SENATE_SEATS', 'UPPER_HOUSE_OR_SENATE_WOMEN',
       'UPPER_HOUSE_OR_SENATE_PERCENT_W'],
      dtype='object')

In [25]:
transform_df.head(15)

,COUNTRY,LOWER_OR_SINGLE_HOUSE_ELECTIONS,LOWER_OR_SINGLE_HOUSE_SEATS,LOWER_OR_SINGLE_HOUSE_WOMEN,LOWER_OR_SINGLE_HOUSE_PERCENT_W,UPPER_HOUSE_OR_SENATE_ELECTIONS,UPPER_HOUSE_OR_SENATE_SEATS,UPPER_HOUSE_OR_SENATE_WOMEN,UPPER_HOUSE_OR_SENATE_PERCENT_W
0,Sweden,09 1998,349,149,42.7,0,0,0,0
1,Denmark,03 1998,179,67,37.4,0,0,0,0
2,Finland,03 1999,200,73,36.5,0,0,0,0
3,Netherlands,05 1998,150,54,36.0,05 1999,75,20,26.7
4,Norway,09 2001,165,59,35.8,0,0,0,0
5,Iceland,05 1999,63,22,34.9,0,0,0,0
6,Germany,09 1998,669,207,30.9,0,69,17,24.6
7,New Zealand,11 1999,120,37,30.8,0,0,0,0
8,Mozambique,12 1999,250,75,30.0,0,0,0,0
9,South Africa,06 1999,399,119,29.8,06 1999,89,17,31.5*
10,Spain,03 2000,350,99,28.3,03 2000,259,63,24.3
11,Cuba,01 1998,601,166,27.6,0,0,0,0
12,Austria,10 1999,183,49,26.8,0,64,13,20.3
13,Grenada,01 1999,15,4,26.7,01 1999,13,1,7.7
14,Argentina,10 1999,257,68,26.5,12 1998,72,2,2.8

## Series data conversion & manipulation

In [26]:
transform_df.COUNTRY = transform_df.COUNTRY.replace(regex=r'\(|\)|\*|\d',value='')

In [27]:
transform_df.LOWER_OR_SINGLE_HOUSE_ELECTIONS = pd.to_datetime(transform_df.LOWER_OR_SINGLE_HOUSE_ELECTIONS,errors='coerce',infer_datetime_format=True)
transform_df.UPPER_HOUSE_OR_SENATE_ELECTIONS = pd.to_datetime(transform_df.UPPER_HOUSE_OR_SENATE_ELECTIONS,errors='coerce',infer_datetime_format=True)

C:\Users\Rebecca\AppData\Local\Temp\ipykernel_21572\1540431661.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  transform_df.LOWER_OR_SINGLE_HOUSE_ELECTIONS = pd.to_datetime(transform_df.LOWER_OR_SINGLE_HOUSE_ELECTIONS,errors='coerce',infer_datetime_format=True)
C:\Users\Rebecca\AppData\Local\Temp\ipykernel_21572\1540431661.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  transform_df.UPPER_HOUSE_OR_SENATE_ELECTIONS = pd.to_datetime(transform_df.UPPER_HOUSE_OR_SENATE_ELECTIONS,errors='coerce',infer_datetime_format=True)

### Conversion of numeric fields

In [28]:
transform_df.LOWER_OR_SINGLE_HOUSE_SEATS = pd.to_numeric(transform_df.LOWER_OR_SINGLE_HOUSE_SEATS.replace(regex='\D',value=''))
transform_df.LOWER_OR_SINGLE_HOUSE_WOMEN = pd.to_numeric(transform_df.LOWER_OR_SINGLE_HOUSE_WOMEN.replace(regex='\D',value=''))
transform_df.LOWER_OR_SINGLE_HOUSE_PERCENT_W = pd.to_numeric(transform_df.LOWER_OR_SINGLE_HOUSE_PERCENT_W.replace(regex='\D',value=''))
transform_df.UPPER_HOUSE_OR_SENATE_SEATS = pd.to_numeric(transform_df.UPPER_HOUSE_OR_SENATE_SEATS.replace(regex='\D',value=''))
transform_df.UPPER_HOUSE_OR_SENATE_WOMEN = pd.to_numeric(transform_df.UPPER_HOUSE_OR_SENATE_WOMEN.replace(regex='\D',value=''))
transform_df.UPPER_HOUSE_OR_SENATE_PERCENT_W = pd.to_numeric(transform_df.UPPER_HOUSE_OR_SENATE_PERCENT_W.replace(regex='\D',value=''))

In [29]:
transform_df.dtypes

COUNTRY                                    object
LOWER_OR_SINGLE_HOUSE_ELECTIONS    datetime64[ns]
LOWER_OR_SINGLE_HOUSE_SEATS               float64
LOWER_OR_SINGLE_HOUSE_WOMEN               float64
LOWER_OR_SINGLE_HOUSE_PERCENT_W           float64
UPPER_HOUSE_OR_SENATE_ELECTIONS    datetime64[ns]
UPPER_HOUSE_OR_SENATE_SEATS               float64
UPPER_HOUSE_OR_SENATE_WOMEN               float64
UPPER_HOUSE_OR_SENATE_PERCENT_W           float64
dtype: object

In [30]:
drop_dupp = transform_df.drop_duplicates()
drop_dupp.reset_index(drop=True)
drop_dupp[drop_dupp.COUNTRY.isin(['Sweden'])]

,COUNTRY,LOWER_OR_SINGLE_HOUSE_ELECTIONS,LOWER_OR_SINGLE_HOUSE_SEATS,LOWER_OR_SINGLE_HOUSE_WOMEN,LOWER_OR_SINGLE_HOUSE_PERCENT_W,UPPER_HOUSE_OR_SENATE_ELECTIONS,UPPER_HOUSE_OR_SENATE_SEATS,UPPER_HOUSE_OR_SENATE_WOMEN,UPPER_HOUSE_OR_SENATE_PERCENT_W
0,Sweden,1998-09-01,349.0,149.0,427.0,1970-01-01,0.0,0.0,0.0
179,Sweden,2002-09-01,349.0,157.0,450.0,1970-01-01,0.0,0.0,0.0
360,Sweden,2002-09-01,349.0,158.0,453.0,1970-01-01,0.0,0.0,0.0
911,Sweden,2006-09-01,349.0,165.0,473.0,1970-01-01,0.0,0.0,0.0
1289,Sweden,2006-09-01,349.0,164.0,4700.0,1970-01-01,0.0,0.0,0.0
3367,Sweden,NaT,349.0,165.0,473.0,NaT,NaN,NaN,NaN
3561,Sweden,NaT,349.0,164.0,47.0,NaT,NaN,NaN,NaN
3954,Sweden,NaT,349.0,161.0,461.0,NaT,NaN,NaN,NaN
4136,Sweden,1994-09-01,349.0,141.0,404.0,1970-01-01,0.0,0.0,0.0
5780,Sweden,2006-09-01,349.0,164.0,470.0,1970-01-01,0.0,0.0,0.0
8444,Sweden,NaT,349.0,162.0,464.0,NaT,NaN,NaN,NaN
10072,Sweden,2006-09-01,349.0,165.0,47.3,1970-01-01,0.0,0.0,0.0
16988,Sweden,2018-09-09,349.0,165.0,473.0,1970-01-01,0.0,0.0,0.0
18837,Sweden,2002-09-01,349.0,158.0,45.3,1970-01-01,0.0,0.0,0.0

In [32]:
drop_dupp

,COUNTRY,LOWER_OR_SINGLE_HOUSE_ELECTIONS,LOWER_OR_SINGLE_HOUSE_SEATS,LOWER_OR_SINGLE_HOUSE_WOMEN,LOWER_OR_SINGLE_HOUSE_PERCENT_W,UPPER_HOUSE_OR_SENATE_ELECTIONS,UPPER_HOUSE_OR_SENATE_SEATS,UPPER_HOUSE_OR_SENATE_WOMEN,UPPER_HOUSE_OR_SENATE_PERCENT_W
0,Sweden,1998-09-01,349.0,149.0,427.0,1970-01-01,0.0,0.0,0.0
1,Denmark,1998-03-01,179.0,67.0,374.0,1970-01-01,0.0,0.0,0.0
2,Finland,1999-03-01,200.0,73.0,365.0,1970-01-01,0.0,0.0,0.0
3,Netherlands,1998-05-01,150.0,54.0,360.0,1999-05-01,75.0,20.0,267.0
4,Norway,2001-09-01,165.0,59.0,358.0,1970-01-01,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
53115,South Africa,NaT,396.0,184.0,465.0,NaT,53.0,22.0,415.0
53160,Germany,NaT,709.0,223.0,315.0,NaT,69.0,23.0,333.0
53257,Zambia,NaT,155.0,20.0,129.0,NaT,NaN,NaN,NaN
53371,United States of America,NaT,430.0,122.0,284.0,NaT,100.0,24.0,24.0
53399,Kenya,NaT,350.0,82.0,234.0,NaT,68.0,21.0,309.0

In [33]:
# Save to csv
drop_dupp.to_csv('data/world_data.csv',index=False)