In [1]:
import pandas as pd
import numpy as np
import glob
import re

sheets = []

for filename in glob.glob("./data/world_data/wd_*.csv"):
    pat= r'(\d{4})'
    ls = re.split(pat,filename)
    year = int(ls[1])
    if year > 2019:
        temp = pd.read_csv(filename,delimiter=',',skiprows=5, index_col=None,header=None)
        sheets.append(temp)
    elif year < 2019 and year > 2008:
        temp = pd.read_csv(filename,delimiter=',',skiprows=2, index_col=None,header=None)
        sheets.append(dataframe)
    else:
        temp = pd.read_csv(filename,delimiter=',',skiprows=1, index_col=None,header=None)
        dataframe = pd.DataFrame(temp)
        sheets.append(dataframe)

df = pd.concat(sheets,axis=0,ignore_index=True)
df = df.drop(columns=[10])
df.columns = ['Rank','Country','Lower or single House Elections','Lower or single House Seats','Lower or single House Women','Lower or single House %W','Upper House or Senate Elections', 'Upper House or Senate Seats','Upper House or Senate Women','Upper House or Senate %W']
df.head(15)

,Rank,Country,Lower or single House Elections,Lower or single House Seats,Lower or single House Women,Lower or single House %W,Upper House or Senate Elections,Upper House or Senate Seats,Upper House or Senate Women,Upper House or Senate %W
0,1,Sweden,09 1998,349,149,42.7,---,---,---,---
1,2,Denmark,03 1998,179,67,37.4,---,---,---,---
2,3,Finland,03 1999,200,73,36.5,---,---,---,---
3,4,Netherlands,05 1998,150,54,36.0,05 1999,75,20,26.7
4,5,Norway,09 2001,165,59,35.8,---,---,---,---
5,6,Iceland,05 1999,63,22,34.9,---,---,---,---
6,7,Germany,09 1998,669,207,30.9,N.A.,69,17,24.6
7,8,New Zealand,11 1999,120,37,30.8,---,---,---,---
8,9,Mozambique,12 1999,250,75,30.0,---,---,---,---
9,10,South Africa,06 1999,399,119,29.8,06 1999,89,17,31.5*
10,11,Spain,03 2000,350,99,28.3,03 2000,259,63,24.3
11,12,Cuba,01 1998,601,166,27.6,---,---,---,---
12,13,Austria,10 1999,183,49,26.8,N.A.,64,13,20.3
13,14,Grenada,01 1999,15,4,26.7,01 1999,13,1,7.7
14,15,Argentina,10 1999,257,68,26.5,12 1998,72,2,2.8

## Columns Rename

In [2]:
def column_rename(col_name):
    t = col_name.strip()
    t = re.sub('%', 'percent ', t)
    t = re.sub(' ', '_', t)
    t = str.upper(t)
    return t

In [3]:
# transform_df = df.fillna(0)
text_transform_df = df.replace(regex=r'---|\?',value=0)
# text_transform_df = transform_df.replace('N.A.',0)
text_transform_df = text_transform_df.drop(columns=['Rank'])
text_transform_df = text_transform_df.rename(columns=lambda x: column_rename(x))
text_transform_df = text_transform_df.rename(str.upper, axis='columns')

In [4]:
text_transform_df['LOWER_OR_SINGLE_HOUSE_ELECTIONS'] = text_transform_df['LOWER_OR_SINGLE_HOUSE_ELECTIONS'].str.replace('.',' ',regex=False)
text_transform_df['UPPER_HOUSE_OR_SENATE_ELECTIONS'] = text_transform_df['UPPER_HOUSE_OR_SENATE_ELECTIONS'].str.replace('.',' ',regex=False)

## Series data conversion & manipulation

In [5]:
date_tranform_df = text_transform_df.copy()
date_tranform_df.COUNTRY = date_tranform_df.COUNTRY.replace(regex=r'\(|\)|\*|\d',value='')

In [6]:
date_tranform_df.LOWER_OR_SINGLE_HOUSE_ELECTIONS = pd.to_datetime(date_tranform_df.LOWER_OR_SINGLE_HOUSE_ELECTIONS,errors='coerce',infer_datetime_format=True)
date_tranform_df.UPPER_HOUSE_OR_SENATE_ELECTIONS = pd.to_datetime(date_tranform_df.UPPER_HOUSE_OR_SENATE_ELECTIONS,errors='coerce',infer_datetime_format=True)

C:\Users\Rebecca\AppData\Local\Temp\ipykernel_25964\1586296884.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  date_tranform_df.LOWER_OR_SINGLE_HOUSE_ELECTIONS = pd.to_datetime(date_tranform_df.LOWER_OR_SINGLE_HOUSE_ELECTIONS,errors='coerce',infer_datetime_format=True)
C:\Users\Rebecca\AppData\Local\Temp\ipykernel_25964\1586296884.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  date_tranform_df.UPPER_HOUSE_OR_SENATE_ELECTIONS = pd.to_datetime(date_tranform_df.UPPER_HOUSE_OR_SENATE_ELECTIONS,errors='coerce',infer_datetime_format=True)

### Conversion of numeric fields

In [7]:
num_transform_df = date_tranform_df.copy()

num_transform_df.LOWER_OR_SINGLE_HOUSE_SEATS = pd.to_numeric(num_transform_df.LOWER_OR_SINGLE_HOUSE_SEATS.replace(regex='\D',value=''))
num_transform_df.LOWER_OR_SINGLE_HOUSE_WOMEN = pd.to_numeric(num_transform_df.LOWER_OR_SINGLE_HOUSE_WOMEN.replace(regex='\D',value=''))

num_transform_df.UPPER_HOUSE_OR_SENATE_SEATS = pd.to_numeric(num_transform_df.UPPER_HOUSE_OR_SENATE_SEATS.replace(regex='\D',value=''))
num_transform_df.UPPER_HOUSE_OR_SENATE_WOMEN = pd.to_numeric(num_transform_df.UPPER_HOUSE_OR_SENATE_WOMEN.replace(regex='\D',value=''))

In [8]:
num_transform_df.UPPER_HOUSE_OR_SENATE_WOMEN.fillna(0, inplace=True)
num_transform_df.UPPER_HOUSE_OR_SENATE_SEATS.fillna(0, inplace=True)

In [9]:
num_transform_df.LOWER_OR_SINGLE_HOUSE_PERCENT_W = num_transform_df.LOWER_OR_SINGLE_HOUSE_WOMEN / num_transform_df.LOWER_OR_SINGLE_HOUSE_SEATS
num_transform_df.UPPER_HOUSE_OR_SENATE_PERCENT_W = num_transform_df.UPPER_HOUSE_OR_SENATE_WOMEN / num_transform_df.UPPER_HOUSE_OR_SENATE_SEATS

In [10]:
num_transform_df.dtypes

COUNTRY                                    object
LOWER_OR_SINGLE_HOUSE_ELECTIONS    datetime64[ns]
LOWER_OR_SINGLE_HOUSE_SEATS               float64
LOWER_OR_SINGLE_HOUSE_WOMEN               float64
LOWER_OR_SINGLE_HOUSE_PERCENT_W           float64
UPPER_HOUSE_OR_SENATE_ELECTIONS    datetime64[ns]
UPPER_HOUSE_OR_SENATE_SEATS               float64
UPPER_HOUSE_OR_SENATE_WOMEN               float64
UPPER_HOUSE_OR_SENATE_PERCENT_W           float64
dtype: object

In [11]:
drop_dupp = num_transform_df.drop_duplicates()
drop_dupp.reset_index(drop=True)
#drop_dupp[drop_dupp.COUNTRY.isin(['Sweden'])]

,COUNTRY,LOWER_OR_SINGLE_HOUSE_ELECTIONS,LOWER_OR_SINGLE_HOUSE_SEATS,LOWER_OR_SINGLE_HOUSE_WOMEN,LOWER_OR_SINGLE_HOUSE_PERCENT_W,UPPER_HOUSE_OR_SENATE_ELECTIONS,UPPER_HOUSE_OR_SENATE_SEATS,UPPER_HOUSE_OR_SENATE_WOMEN,UPPER_HOUSE_OR_SENATE_PERCENT_W
0,Sweden,1998-09-01,349.0,149.0,0.426934,NaT,0.0,0.0,NaN
1,Denmark,1998-03-01,179.0,67.0,0.374302,NaT,0.0,0.0,NaN
2,Finland,1999-03-01,200.0,73.0,0.365000,NaT,0.0,0.0,NaN
3,Netherlands,1998-05-01,150.0,54.0,0.360000,1999-05-01,75.0,20.0,0.266667
4,Norway,2001-09-01,165.0,59.0,0.357576,NaT,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...
2867,South Africa,2019-05-01,396.0,184.0,0.464646,2019-05-01,53.0,22.0,0.415094
2868,Germany,2017-09-01,709.0,223.0,0.314528,NaT,69.0,23.0,0.333333
2869,Zambia,2021-08-01,155.0,20.0,0.129032,NaT,0.0,0.0,NaN
2870,United States of America,2020-11-01,430.0,122.0,0.283721,2020-11-01,100.0,24.0,0.240000
2871,Kenya,2022-08-01,350.0,82.0,0.234286,2022-08-01,68.0,21.0,0.308824

In [12]:
drop_dupp.to_csv('./data/world_data_final.csv',index=False)